{% extends "base.html.twig" %}
{% block title %}Liste des taches{% endblock %}

{% block body %}
<h1>Liste des taches</h1>
<p><a href="{{ path('chauffeur') }}">S'inscrire</a></p>
{% for Liste in Liste %}
    <table>
        <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Penom</th>
            <th>telephone</th>
            <th>adresse</th>
            <th>email</th>
            <th>Note</th>
        </thead>
        <tbody>
            <td>{{ tache.id }}</td>
            <td>{{ tache.nom }}</td>
            <td>{{ tache.prenom }}</td>
            <td>{{ tache.telephone }}</td>
            <td>{{ tache.adresse }}</td>
            <td>{{ tache.email }}</td>
            <td>{{ tache.noteTotale }}</td>
        </tbody>
    </table>
{% endfor %}
{% endblock %}