{% extends "base.html.twig" %}

{% block title %} Liste des chauffeurs
    
{% endblock %}

{% block body %}
    
    <a href="{{ path('creation_chauffeur') }}">Ajouter une nouvelle chauffeur</a>
                    


    <h2> Listes des chauffeurs</h2>
    
   <table class ='table'>
    <thead>
        
         <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Adresse</th>
            <td>Email</td>
            <td>noteTotale</td>
        </tr>
    </thead>
    <tbody>
    {% for chauffeur in liste %} 
        <tr>
            <td>{{ chauffeur.id }}</td>
            <td>{{ chauffeur.nom }}</td>
            <td>{{ chauffeur.prenom }}</td>
            <td>{{ chauffeur.telephone }}</td>
            <td>{{ chauffeur.adresse }}</td>
            <td>{{ chauffeur.email }}</td>
            <td>{{ chauffeur.noteTotale }}</td>
            <td>
                <a href="{{ path('update', {'id': chauffeur.id}) }}">Modifier</a>
                <a href="{{ path('delete', {'id': chauffeur.id}) }}">Supprimer</a>
            </td> 
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %} 