{% extends "base.html.twig" %}
{% block title %}Liste des taches{% endblock %}

{% block body %}
<h1>Liste des taches</h1>
<p><a href="{{ path('chauffeur') }}">S'inscrire</a></p>
{% for Liste in Liste %}
    <table>
        <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Penom</th>
            <th>telephone</th>
            <th>adresse</th>
            <th>email</th>
            <th>Note</th>
        </thead>
        <tbody>
           {% for chauffeur in liste %} 
        <tr>
            <td>{{ chauffeur.id }}</td>
            <td>{{ chauffeur.nom }}</td>
            <td>{{ chauffeur.prenom }}</td>
            <td>{{ chauffeur.telephone }}</td>
            <td>{{ chauffeur.adresse }}</td>
            <td>{{ chauffeur.email }}</td>
            <td>{{ chauffeur.noteTotale}}</td>
                <a href="{{ path('update', {'id': chauffeur.id}) }}">Modifier</a>
                <a href="{{ path('delete', {'id': chauffeur.id}) }}">Supprimer</a>
            </td> 
        </tr>
    </table>
{% endfor %}
{% endblock %}